<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChefMate: It's your move!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="header">
    <div class="logo">
      <a href="/">
        <img src="/images/chefmatelogo.png" alt="ChefMate Logo" id="logo">
      </a>
    </div>
    <label class="hamburger-menu">
      <input type="checkbox" />
    </label>
    <aside class="sidebar">
      <nav>
        <ul>
          <li><a href="/profile">Profile</a></li>
          {{#if logged_in}}
            <li><a href="/logout" id="logout">Logout</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </aside>
  </header>

  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>

  <footer>
    <!-- Footer content -->
  </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
