<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund My Project!</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/jass.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
<body class="bg-warning">
  <div class="row justify-left">
    <div class="col-md-5">
        <h2 class="display-1 p-2"> Login</h2>
        <form class="form login-form p-1">
            <div class="form-group">
                <label for="email-login" class="">email:</label>
        <input class="form-input m-2 p-2" type="text" id="email-login" />
        </div>
        <div class="form-group">
            <label for="password-login"class="">password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">login</button>
            </div>
            </form>
            </div>
            
    
        <div class="col-md-6 float-left">
            <h2 class="display-1">Sign-up</h2>
            <form class="form signup-form">
                <div class="form-group">
                    <label for="name-signup">name:</label>
                    <input class="form-input" type="text" id="name-signup" />
                </div>
                  <div class="form-group">
                    <label for="email-signup">email:</label>
                    <input class="form-input" type="text" id="email-signup" />
                  </div>
                  <div class="form-group">
                    <label for="password-signup">password:</label>
                    <input class="form-input" type="password" id="password-signup" />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">signup</button>
                   </div>
                </form>
            
            </div>
            </div>
        
       </div>
       </body>
  </html>
 
  