 <form class="form signup-form">
      <div class="form-group">
        <label for="recipez">name:</label>
        <input class="form-input" type="text" id="recipez" />
      </div>
      
      
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>