/* add bg image */
body {
  background-image: url('/public/images/1wideboard.png');
  background-size: cover;
  background-position: center;
}

/* Basic CSS reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.display-1 {
  font-size: 2em;
  color: #ffffff;
}

/* Style for forms */
.form {
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
}

.btn:active {
  background-color: #111;
}

